%h1
  All available Models
%table.table
  = table_headers(Model, [:name, :description, :research_questions], include_actions: true)
  %tbody
    - @models.each do |model|
      %tr[model]{data:{href: model_path(model)}}
        %td= model.name
        %td= model.description
        %td= model.research_questions.map(&:name).join(", ")
        %td
          = link_icon_to 'edit',edit_model_path(model), title: 'Edit', class: 'btn-xs' if can? :edit, model
          = link_icon_to 'trash',model, method: :delete, remote: true, data:{confirm: 'Are you sure?'},title: "Delete", class: 'btn-xs btn-danger' if can? :destroy, model


= link_icon_to 'plus', new_model_path, class: 'btn-success pull-right', text: 'New Model' if can? :create, Model
