%h1
  Listing models
= link_to 'New Model', new_model_path, class: 'btn btn-success pull-right'
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Actions

  %tbody
    - @models.each do |model|
      %tr
        %td= link_to model.name, model
        %td= model.description
        %td
          = link_to edit_model_path(model), class: 'btn btn-default btn-xs', data:{toggle:'tooltip',placement:'bottom'},title: "Edit" do
            .glyphicon.glyphicon-edit
          = button_to model, class: 'btn btn-danger btn-xs', method: :delete, data:{confirm: 'Are you sure?' ,toggle:'tooltip',placement:'bottom'},title: "Delete" do
            .glyphicon.glyphicon-trash

%br


