%h1 Listing models

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th(colspan=3) Actions

  %tbody
    - @models.each do |model|
      %tr
        %td= model.name
        %td= model.description
        %td
          = button_to model, class: 'btn btn-default btn-xs', data:{toggle:'tooltip',placement:'bottom'},title: "Show" do
            .glyphicon.glyphicon-open
          = button_to model, class: 'btn btn-default btn-xs', data:{toggle:'tooltip',placement:'bottom'},title: "Show" do
            .glyphicon.glyphicon-open

        %td= link_to 'Edit', edit_model_path(model)
        %td= link_to 'Destroy', model, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Model', new_model_path
