%p#notice= notice

%p
  %b Name:
  = @model.name
%p
  %b Description:
  = @model.description
%p
  %b Associated to research questions:
  .list-group
    - @model.research_questions.each do |rq|
      = link_to rq.name, research_question_path(rq), class: 'list-group-item'
%p
  %b Assumptions required

  = render 'assumptions', assumptions: @model.assumptions

= link_to 'Edit', edit_model_path(@model)
\|
= link_to 'Back', models_path
