%p#notice= notice

%p
  %b Name:
  = @model.name
%p
  %b Description:
  = @model.description
%p
  %b Associated to research questions:
  .list-group
    - @model.research_questions.each do |rq|
      = link_to rq.name, research_question_path(rq), class: 'list-group-item'
%p
  %b Assumptions required
  .row
    .col-md-6
      = render 'assumptions', assumptions: @model.assumptions
    .col-md-6
      = render 'shared/graph_representation', object: @model

= link_icon_to 'edit', edit_model_path(@model), text: 'Edit model'