- options ||= {}
.panel.panel-default
  .panel-heading

    = assumption.name
    .label.pull-right.label-default
      = glyphicon_type(assumption)
      = assumption.type

  .panel-body
    = assumption.description
    = render "assumption_#{assumption.class.name.underscore}", assumption: assumption
  .panel-footer
    - if can? :edit, assumption
      = link_icon_to 'edit', edit_assumption_path(assumption), text: 'Edit assumption'
    - if can? :destroy, assumption
      = link_icon_to 'trash', assumption, remote:true, text: 'Delete assumption',method: :delete, data:{confirm: 'Are you sure?'},title: "Delete", class: 'btn-danger'