= semantic_form_for @assumption do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :critical
    = f.input :type, as: :hidden

  = f.actions do
    = f.action :submit, :as => :input
