= semantic_form_for @assumption, url: assumption_path(@assumption) do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :critical
    = f.input :type, as: :hidden
    = f.input :required_dataset_fields
    = f.input :r_code
    = f.input :argument_inverted

  = f.actions do
    = f.action :submit, :as => :input
