%h1 Listing assumptions

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Critical
      %th Type
      %th Required dataset fields
      %th Fail on missing
      %th R code
      %th Mandatory type
      %th Question
      %th Argument inverted
      %th
      %th
      %th

  %tbody
    - @assumptions.each do |assumption|
      %tr
        %td= assumption.name
        %td= assumption.description
        %td= assumption.critical
        %td= assumption.type
        %td= assumption.required_dataset_fields
        %td= assumption.fail_on_missing
        %td= assumption.r_code
        %td= assumption.mandatory_type
        %td= assumption.question
        %td= assumption.argument_inverted
        %td= link_to 'Show', assumption
        %td= link_to 'Edit', edit_assumption_path(assumption)
        %td= link_to 'Destroy', assumption, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Assumption', new_assumption_path
