%h1 Available Assumptions
.list-group
  - @assumptions.each do |assumption|
    .list-group-item{class: assumption.critical? ? 'list-group-item-warning' : ''}
      = glyphicon_type(assumption)
      = link_to assumption_path(assumption) do
        #{assumption.name}: #{truncate(assumption.description, length:100)}

      = button_to assumption_path(assumption), class: 'btn btn-danger btn-xs pull-right', method: :delete, data:{confirm: 'Are you sure?' ,toggle:'tooltip',placement:'bottom'},title: "Delete" do
        .glyphicon.glyphicon-trash
      = link_to edit_assumption_path(assumption), class: 'btn btn-default btn-xs pull-right', data:{toggle:'tooltip',placement:'bottom'},title: "Edit" do
        .glyphicon.glyphicon-edit


= link_to 'New Assumption', new_assumption_path, class: 'btn btn-success pull-right'
