= semantic_form_for @research_question do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :private
    = f.input :models, :as => :check_boxes, :collection => Model.order(:name).all

  = f.actions do
    = f.action :submit, :as => :input
