%h1 Available Research Questions


%table.table
  = table_headers(ResearchQuestion, [:name, :description, :private], include_actions: true)
  %tbody
    - @research_questions.each do |research_question|
      %tr[research_question]{data:{href: research_question_path(research_question)}}
        %td= research_question.name
        %td= research_question.description
        %td= research_question.private
        %td
          = link_icon_to 'edit', edit_research_question_path(research_question), class: 'btn-xs',title: "Edit" if can? :edit, research_question
          = link_icon_to 'trash',research_question, remote: true, method: :delete, data:{confirm: 'Are you sure?'},title: "Delete", class: 'btn-xs btn-danger' if can? :destroy, research_question

= link_icon_to 'plus', new_research_question_path, class: 'btn-success pull-right', text: 'New Research Question' if can? :create, ResearchQuestion

