%h1 Listing research_questions
= link_to 'New Research Question', new_research_question_path, class: 'btn btn-success pull-right'
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Private
      %th Actions

  %tbody
    - @research_questions.each do |research_question|
      %tr
        %td= research_question.name
        %td= research_question.description
        %td= research_question.private
        %td
          = link_to research_question, class: 'btn btn-default btn-xs', data:{toggle:'tooltip',placement:'bottom'},title: "Show" do
            .glyphicon.glyphicon-open
          = link_to edit_research_question_path(research_question), class: 'btn btn-default btn-xs', data:{toggle:'tooltip',placement:'bottom'},title: "Edit" do
            .glyphicon.glyphicon-edit
          = button_to research_question, class: 'btn btn-danger btn-xs pull-right', method: :delete, data:{confirm: 'Are you sure?' ,toggle:'tooltip',placement:'bottom'},title: "Delete" do
            .glyphicon.glyphicon-trash


