= nav_bar fixed: :top, brand: "Small Data Analyst", responsive: true do
  = menu_group do 
    = menu_item "Home", root_path 
    = menu_divider
    = menu_item "Analysis", analyses_path
    = menu_item "Research Questions", research_questions_path
    = menu_item "Models", models_path
    = menu_item "Assumptions", assumptions_path
  = menu_group pull: :right do
    - if current_user
      = menu_item "Log out (#{current_user.email})", destroy_user_session_path, method: :delete
    - else
      = menu_item "Log In", new_user_session_path