= nav_bar fixed: :top, brand: "Small Data Analyst", responsive: true do
  = menu_group do 
    = menu_item "Home", root_path 
    = menu_divider
    = menu_item "Analysis", analyses_path
    = menu_item "Research Questions", research_questions_path
  = menu_group pull: :right do
    = menu_item "Log Out", root_path

    -# if current_user
      -# menu_item "Log Out", log_out_path
        -# else
      -# form_for @user, url: session_path(:user), html => {class: "navbar-form pull-right"} do |f| -
        -#<p>= f.text_field :email </p>
        -#<p>= f.password_field :password </p>
        -#<p>= f.submit "Sign in" </p>