- holds = assumption.evaluate(analysis)
- color,icon = if holds.nil?
  - ['text-muted', 'minus-sign']
- elsif holds
  - ['text-success', 'ok-sign']
- else
  - ['text-danger', 'remove-sign']

.list-group-item-heading(class="#{color}"){data:{holds: holds}}
  .glyphicon(class="glyphicon-#{icon}")
  %span
    = assumption.name
    - desc = assumption.is_a?(QueryAssumption) ? assumption.question : assumption.description
    - if desc.present?
      %br
      = desc

  .pull-right
    =glyphicon_type(assumption)
- if assumption.is_a?(BlankAssumption) && assumption.assumptions.any?
  .list-group-item-text
    = render 'analyses/assumptions', assumptions: assumption.assumptions, analysis: analysis

