- if analysis.done?
  - analysis.possible_models.each do |pm|
    %li.list-group-item.list-group-item-success
      .list-group-item-heading
        = pm.model.name
      .list-group-item-text
        = render 'analyses/assumptions', assumptions: pm.model.assumptions, analysis: analysis
  - analysis.impossible_models.sort_by(&:stage_of_first_rejection).each do |pm|
    %li.list-group-item.list-group-item-danger
      .list-group-item-heading
        #{pm.model.name}
        %span.pull-right
          (Rejected in: AS#{pm.stage_of_first_rejection > 1 ? '2' : '1' }, Stage: #{pm.stage_of_first_rejection})
      .list-group-item-text
        = render 'analyses/assumptions', assumptions: pm.reasons.map(&:argument), analysis: analysis
- else
  %li.list-group-item.list-group-item-warning
    The detailed report is only available, once the analysis is complete