= semantic_form_for @analysis do |f|
  = f.inputs do
    = f.input :research_question, :as => :select, :collection => ResearchQuestion.order(:name).all.select { |a| can? :read, a }
    = f.input :dataset, :as => :select, :collection => Dataset.order(:name).all.select { |a| can? :read, a }
  = f.actions do
    = f.action :submit, :as => :input
