= semantic_form_for @analysis do |f|
  = f.inputs do
    = f.input :research_question, :as => :select, :collection => ResearchQuestion.order(:name).all
    = f.input :dataset, :as => :select, :collection => Dataset.order(:name).all
  = f.actions do
    = f.action :submit, :as => :input
