%h1 Listing analyses

%table.table.table-striped
  %thead
    %tr
      -#%th Completed
      %th Research Question
      %th Dataset Name
      %th Created At
      %th Possible Models
      %th Remaining Questions
      %th User
      %th.btn-xs.btn Actions

  %tbody
    - @analyses.each do |analysis|
      %tr
        -#%td
          -if analysis.in_progress?
            %span.glyphicon.glyphicon-play
          -else
            %span.glyphicon.glyphicon-stop
        %td= analysis.research_question.name
        %td= analysis.dataset.name
        %td= l(analysis.created_at, format: :short)
        %td= analysis.possible_models.count
        %td= analysis.query_assumption_results.where(result:nil, ignore:false).count
        %td= analysis.user.try(:email)
        %td
          = link_icon_to 'open', analysis, title: "Show", class: 'btn-xs' if can? :read, analysis
          = link_icon_to 'edit', edit_analysis_path(analysis), title: "Edit", class: 'btn-xs' if can? :edit, analysis
          = link_icon_to 'trash',analysis, method: :delete, data:{confirm: 'Are you sure?'},title: "Delete", class: 'btn-xs btn-danger' if can? :destroy, analysis

= link_icon_to 'plus',new_analysis_path, class: 'btn-success pull-right', text: 'Start new analysis' if can? :create, Analysis
