%h1 Listing analyses

%table.table
  %thead
    %tr
      %th Completed
      %th Created At
      %th Research Question
      %th Dataset Name
      %th Possible Models
      %th Remaining Questions
      %th Actions

  %tbody
    - @analyses.each do |analysis|
      %tr
        %td
          -if analysis.in_progress?
            %span.glyphicon.glyphicon-play
          -else
            %span.glyphicon.glyphicon-stop
        %td= l(analysis.created_at, format: :short)
        %td= analysis.research_question.name
        %td= analysis.dataset.name
        %td= analysis.possible_models.count
        %td= analysis.query_assumption_results.where(result:nil, ignore:false).count
        %td
          = link_to analysis, class: 'btn btn-default btn-xs', data:{toggle:'tooltip',placement:'bottom'},title: "Show" do
            .glyphicon.glyphicon-open
          = link_to edit_analysis_path(analysis), class: 'btn btn-default btn-xs', data:{toggle:'tooltip',placement:'bottom'},title: "Edit" do
            .glyphicon.glyphicon-edit
          = button_to analysis, class: 'btn btn-danger btn-xs', method: :delete, data:{confirm: 'Are you sure?' ,toggle:'tooltip',placement:'bottom'},title: "Delete" do
            .glyphicon.glyphicon-trash

= link_to 'New Analysis', new_analysis_path, class: 'btn btn-success pull-right'
